:root {
  --branding-color: #2b2728;
}
h1 h2 h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 40px;
}
.hero {
  background-color: var(--branding-color);
  color: white;
  text-align: center;
  padding: 120px 12px;
}
.btn-branding {
  background-color: white;
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 15px;
  line-height: 27px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 30px auto;
}
.btn-branding-outline {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 27px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 30px auto;
}
p {
  font-size: 16px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 60px 0;
  }
}
