:root {
  --branding-color: #2b2728;
}
h1 h2 h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 40px;
}
h4 {
  font-size: 35px;
}
.hero {
  background-color: var(--branding-color);
  color: white;
  text-align: center;
  padding: 120px 0;
}
.btn-branding {
  background-color: white;
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 15px;
  line-height: 27px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 30px auto;
}
.btn-branding-outline {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 27px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 30px auto;
  transition: all 150ms ease-in-out;
}
.btn-branding-outline:hover {
  color: white;
}
.about-hero {
  padding: 70px 0;
}
.about-hero h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-hero h3 {
  font-size: 18px;
  font-family: var(--branding-color);
  font-weight: bold;
}
.about-content {
  margin: 30px;
}
.about-hero .myphoto {
  margin-top: 60px;
  border-radius: 15px;
}
.project-container {
  padding: 70px 0;
  font-family: "Poppins", sans-serif;
}
.project-container h3 {
  font-size: 24px;
  margin: 15px 0 0;
}
.project-container p {
  font-size: 14px;
}
p {
  font-size: 16px;
}
footer .contact-box p {
  margin: 0;
}
footer .contact-box {
  padding: 20px 80px;
  border-radius: 10px;
  background-color: var(--branding-color);
  color: white;
}

footer .email-link {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 20px;
  text-align: center;
}

footer .email-link:hover {
  color: black;
}
footer .social-links a {
  color: var(--branding-color);
  margin: 0 40px;
  border-radius: 50%;
  font-size: 18px;
  padding: 10px 14px;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h4 {
    font-size: 20px;
  }
  footer .contact-box {
    padding: 5px 50px;
  }
  footer .contact-box p {
    font-size: 14px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 60px 0;
  }
  .about-hero {
    text-align: center;
    padding: 0;
  }
  .about-hero h1 {
    font-size: 50px;
  }
}
